.four-cards-container {
    display: flex;
    gap: 16px; /* Espaçamento entre os cards */
    justify-content: space-between; /* Distribui os cards com espaçamento igual */
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    flex: 1; /* Faz com que todos os cards tenham a mesma largura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 14px;
    color: #060606;
  }
  
  .card-content {
    font-size: 24px;
  }
  
  .orange-card {
    border-left: 12px solid orange !important;
  }
  
  .green-card {
    border-left: 12px solid green !important;
  }
  
  .red-card {
    border-left: 12px solid red !important;
  }
  
  .yellow-card {
    border-left: 12px solid yellow !important;
  }
  