.div-text-area{
    margin-top: 8px;
}

.text-area{
    width: 360px;
    height: 178px;
    max-height: 178px;
    resize: none;
    color: #8C5B55;
    border-color: #8C5B55;
    border-radius: 4px;
    padding: 10px;
}

.form-label {
    position: absolute; 
    top: 20px;
    left: 10px;
    color: #8C5B55;
    transition: 0.2s ease all;
    pointer-events: none;
    background: white;
    padding: 0 0.2rem;

    font-family: 'Sora';
}

.text-area:focus + .form-label,
.text-area:not(:placeholder-shown) + .form-label {
    top: 40px;
    font-size: 0.75rem;
    color: #8C5B55;
}
