.div-one {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.div-filtros {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}