.estilo-hr{
    width: 90%;
    background-color: black;
    height: 1px;
   
}

.div-data{
display: flex;
justify-content: space-between;
width: 90%;
}

.div-pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 10vw;
    margin-bottom: 40px;
}

.div-card-pedido{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.icone-animado {
    transition: transform 0.3s ease;
}

.bi-chevron-down {
    transform: rotate(180deg);
}

.bi-chevron-up {
    transform: rotate(0deg);
}
