.estilo-hr{
    width: 65%;
    background-color: black;
    height: 1px;
   
}

.div-data{
display: flex;
justify-content: space-between;
width: 65%;
}

.div-pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.div-card-pedido{
    width: 65%;
    display: flex;
    align-items: center;
}