.card-container {
    margin-top: 2.5vh;
    width: 50%;

    display: flex;
    align-items: baseline;
  
    box-shadow: 0px 0px 10px 0px rgba(171, 171, 171, 0.408);
}

.card-info-pedido{
    width: 63%;
    padding: 5px;
}

.card-status-pedido{
    width: 37%;
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Select optional */
.select-optional {
    width: 142px;
    height: 26px;

    border-radius: 4px;

    font-family: 'Sora';
    font-size: small;

}

.nao-iniciado {
    background-color: #fefbb4;
    border-color: #fefbb4;
    color: #C39818;
    font-weight: 600;
}

.em-andamento {
    background-color: #c8f5b4;
    border-color: #c8f5b4;
    color: #05580D;
}

.em-atraso{
    background-color: #f6c4c2;
    border-color: #f6c4c2;
    color: #B71E1E;
}

.div-botoes{
    display: flex;
    width: 100%;
    
}

.botao-cancelar{
    width: 95px;
    height: 22px;
    margin-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #8C5B55;
    color: #8C5B55;
    border-radius: 8px;
}

.botao-atualizar{
    width: 95px;
    height: 22px;
    margin-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F2795C;
    border-style: solid;
    border-width: 1px;
    border-color: #F2795C;
    color: white;
    border-radius: 8px;
}


.card-container:hover{
    background-color: #fce4de8d;
}