
/*-- Estilização das KPIs --*/
.div_pagina{
  width: 85%;
  margin-left: 10%;
  margin-top: 4%;
}


/* -- estilizaçãod a div do gráfico e da tabela -- */
.div_grafico_tabela{
  margin-top: 20px;

  width: 100%;

  display: flex;
  justify-content: space-between;

}


/* -- estilização do gráfico -- */

.div_grafico{
  width: 55%;
}

.div_graficos{
  width: 100%;
}


/* -- estilização da tabela -- */
.div_tabela{
  width: 43.5%;
  
}
