.card-lote {
    background-color: #fce4de48;
    background-color:  #fbe4deb4;

    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8C5B55;

    margin-left: 30px;
    
    /* box-shadow: 0px 0px 33px -19px rgba(179,177,179,1); */
}


/* Estilização da imagem do lote */
.div-img {
    width: 42%;
    padding-left: 10px;
    /* height: 2px; */
}

.img{
    width: 100%;
    height: 210px;
    object-fit: cover;
}


/* Estilização das informações do lote */
.div-info{
    width: 55%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: start;
    flex-direction: start;

}

.paragrafo{
    margin: 2px;
    color: #8C5B55;
}

