.div-text-area{
    position: relative;
}

.text-area{
    width: 360px;
    height: 178px;
    max-height: 178px;
    resize: none;
    color: #BA9D99;
    border-color: #BA9D99;
    border-radius: 4px;
}

.form-label {
    position: absolute; 
    top: 6px;
    left: 3px;
    color: #BA9D99;
    transition: 0.2s ease all;
    pointer-events: none;
    padding: 0 0.2rem;

    font-family: 'Sora';
}