.div-card-pedidos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    width: 85%;
    margin-top: 100px;
    margin-left: 10%;
}

.select-optional {
    width: 360px;
    height: 32px;
 
    border-color: #8C5B55;
    color: #8C5B55;
    border-radius: 4px;
 
    font-family: 'Sora';
 }
 

.div-info-pedidos {
    gap: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.div-inputs {
    width: 33%;
}

.div-registro-pedidos {
    width: 33%;
    height: 200px;

}

.div-botoes {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.botao-positivo{
    color: #FFFF;
    background-color: #34963E;
    width: 150px;
    border-radius: 5px;

    margin-top: 8px;
}

.botao-negativo{
    color: #FFFF;
    background-color: #AC0707;
    
    width: 100px;
    border-radius: 5px;
    margin-right: 6px;
    margin-top: 8px;
}


@import url('https://fonts.google.com/selection/embed');

.form-group {
    position: relative;
}

.div-card-minimenu{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-input {
    /* margin: 3px; */
    width: 360px;
    height: 32px;
    border: 1px solid #8C5B55;
    border-radius: 4px;
    /* outline: none; */
}

.form-label {
    position: absolute; 
    transition: all 0.2s ease;
    top: 5px;
    left: 3px;
    color: #8C5B55;
    transition: 0.2s ease all;
    pointer-events: none;
    background: white;
    padding: 0 0.2rem;
    font-family: 'Sora';
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    top: -1.5rem;
    left: 3px;
    font-size: 0.75rem;
    color: #8C5B55;

    font-family: 'Sora';
}

.form-input:focus + .form-label ~ .form-group,
.form-input:not(:placeholder-shown) + .form-label ~ .form-group {
    margin-top: 30px;
}