.sidebar-eventos {
    width: 300px;
    height:100%;
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.5);
}
.div_pedidos_geral{
    padding: 8px;
    position: relative;
    border-radius: 12px; /* Apenas cantos esquerdos arredondados */
    margin-bottom: 25px;
}

.sidebar-eventos h4 {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-eventos h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Distância da linha em relação ao texto */
    width: 100%;
    height: 2px;
    background-color: #333; /* Cor da linha */
  }
  
.sidebar-eventos h5{
    padding-left: 10px !important; 
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.div_pedidos_geral h6{
    padding-left: 10px;
}

.concluido{
    background-color: #5fce2c;
    color: white;
    font-weight: 600;
}

.concluido::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px; /* Largura da borda */
    background-color: #2f8309; /* Cor da borda */
    border-radius: 12px 0 0 12px; /* Apenas cantos esquerdos arredondados */
}

.nao-iniciado {
    background-color: #d52929;
    color: white;
    font-weight: 600;
}

.nao-iniciado::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px; /* Largura da borda */
    background-color: #a60a0a; /* Cor da borda */
    border-radius: 12px 0 0 12px; /* Apenas cantos esquerdos arredondados */
}

.em-andamento {
    color: white;
    background-color: rgb(255 210 0)
}

.em-andamento::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px; /* Largura da borda */
    background-color: rgb(255, 174, 25); /* Cor da borda */
    border-radius: 12px 0 0 12px; /* Apenas cantos esquerdos arredondados */
}

.sidebar-eventos ul {
    list-style: none;
    padding: 0;
}

.sidebar-eventos li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sidebar-eventos li:hover {
    background-color: #f0f0f0;
}
.conteudo-principal{
    width: 100%;
    display: flex;
}

.pedido_header p {
    position: absolute;
    top: -14px; 
    background-color: white;
    padding: 0 5px;
    color: #F2795C;
}
.pedido_card {
    border: 1px solid rgb(158, 149, 149);
    position: relative;
}
.margin_card{
    padding: 10px;
    border-bottom: 1px solid rgb(158, 149, 149);
}
.pedido_header {
    font-weight: bold;
    margin-bottom: 10px;
}
.pedido_itens {
    margin-bottom: 10px;
}
.pedido_itens p {
    margin: 5px 0;
}
.pedido_preco {
    padding: 10px;
}
