@import url('https://fonts.google.com/selection/embed');

   .card-estoque {
        display: flex;
        gap: 10px;
    }

    .text-plus {
        color: "#8C5B55";
    }

    .sub-title-h4 {
        margin-bottom: -10px;
    }



    /* div componentes do topo */
    .div-caixa-busca {
        display: flex;
        align-items: center;
        border: none;
        flex-grow: 1;
    }

    .div-topo-busca-filtro {
        display: flex;
        width: 81%;
        align-items: row;
        /* align-items: center; */
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 50px;
    }


    /* Estilo dos cards da página */
    .div-info {
        width: 100%;
    }



    /* Barras de casa e estúdio */
    .div-barra-local {
        width: 100%;
    }

    .div-barra-data{
        padding: 30px 0px 10px 0px;


    }

    .div-data {
        display: flex;
        justify-content: space-between;
        width: 94%;
        height: 32px;
        font-size: x-large;
        font-family: 'Sora';
    }

    .estilo-hr {
        width: 94.5%;
        background-color: black;
        height: 1px;

    }




    /* Estilização das informações abaixo do estoque */

    .div-velas-estoque {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        margin-bottom: 30px;

    }


    .div-card-lotes{
        display: flex;
        flex-direction: row;
    }



   