@import url('https://fonts.google.com/selection/embed');

.div-pagina{
    display: flex;
    margin-top: 50px;
}

.div-pagina h4{
    font-family: 'Sora';
    font-weight: 150;
    color: #8C5B55;
}

.div-titulo-lote{
    margin-bottom: 15px;
}
.img-vela-escolhida{
    width: 100%;
}
.div-info-pagina{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.div-cad-lote{
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}


.div-inputs-form{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}


/* Div dos campos prenchiveis */
.div-inputs{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}


/* Select optional */
.select-optional {
   width: 360px;
   height: 32px;

   border-color: #8C5B55;
   color: #8C5B55;
   border-radius: 4px;

   font-family: 'Sora';
}


/* Check box */
.div-check-box{
    width: 100%;

    display: flex;
    flex-direction: row;
}


